

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.Titulo {
  background-image: url(images/Fondo.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 200px 0;
}

.Titulo h1 {
  font-size: 60px;
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.services-section img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.service-item {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.service-item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 150px;
}

.services-section {
  background-color: rgb(8, 8, 8);
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.services-section p {
  font-family: "Arial", sans-serif;
  font-size: 28px;
  line-height: 1.5;
}

.services-section h2 {
  font-family: "Arial", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  background-color: black;
  }


.services-section h2,
.contact-section h2 {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section ul {
  list-style: none;
  padding-left: 0;
}
.services-section h2,
.services-section p {
  color: #fff;
}

.services-section li {
  margin-bottom: 22px;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

label, input, textarea {
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#mensajeEnviado {
  margin-top: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
}
